In [3]:
import pandas as pd

#null처리함수
def fillna(df):
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df['Cabin'].fillna('N', inplace=True)
    df['Embarked'].fillna('N', inplace=True)
    df['Fare'].fillna(0, inplace=True)
    return df

#머신러닝 알고리즘에 불필요한 피처 제거
def drop_features(df):
    #방법1 df.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)
    df.drop(columns=['PassengerId', 'Name', 'Ticket'], inplace=True) #방법2
    return df

def format_features(df):
    from sklearn.preprocessing import LabelEncoder
    df['Cabin'] = df['Cabin'].str[0]
    features = ['Sex', 'Cabin', 'Embarked'] #숫자로 나타낼 핑드
    for feature in features:
        le= LabelEncoder()
        df[feature]=le.fit_transform(df[feature])
    return df

#앞에 만든 함수를 차례대로 실행
def transform_features(df):
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

In [4]:
df = pd.read_csv('./titanic_train.csv')
transform_features(df).head(3)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      7         3
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      7         3